CONFIG_DTC_SYMBOLS=y
# CONFIG_DTC_OMIT_DISABLED is not set
# CONFIG_DTC_OMIT_EMPTY is not set
CONFIG_OF_OVERLAY=y

CONFIG_THERMAL_DEFAULT_GOV_USER_SPACE=y
CONFIG_THERMAL_GOV_STEP_WISE=y

CONFIG_GPIO_WATCHDOG=y
CONFIG_GPIO_WATCHDOG_ARCH_INITCALL=y

CONFIG_RTC_DRV_DS1307=y

CONFIG_EXT2_FS=y
CONFIG_EXT4_FS=y

CONFIG_CGROUPS=y
CONFIG_NLS_UTF8=y

CONFIG_PPP=y
CONFIG_PPP_BSDCOMP=y
CONFIG_PPP_DEFLATE=y
CONFIG_PPP_FILTER=y
CONFIG_PPP_MPPE=y
CONFIG_PPP_MULTILINK=y
CONFIG_PPPOE=y
CONFIG_PPP_ASYNC=y
CONFIG_PPP_SYNC_TTY=y
CONFIG_N_GSM=y

CONFIG_PROSLIC=y
CONFIG_SI3218X_A_LCCB=y

CONFIG_ROCKCHIP_HW_DETECTOR=y

CONFIG_SPI=y
CONFIG_SPI_ROCKCHIP=y
