CONFIG_BT_HCIBTUSB=m
CONFIG_BT_HCIBTUSB_AUTOSUSPEND=y
# CONFIG_BT_HCIBTUSB_BCM is not set

CONFIG_DTC_SYMBOLS=y
# CONFIG_DTC_OMIT_DISABLED is not set
# CONFIG_DTC_OMIT_EMPTY is not set
CONFIG_OF_OVERLAY=y

CONFIG_THERMAL_DEFAULT_GOV_USER_SPACE=y
CONFIG_THERMAL_GOV_STEP_WISE=y

CONFIG_GPIO_WATCHDOG=y
CONFIG_GPIO_WATCHDOG_ARCH_INITCALL=y

CONFIG_RTC_DRV_DS1307=y

CONFIG_EXT2_FS=y
CONFIG_EXT4_FS=y
CONFIG_MY_GPIO_DRIVER=y
