CONFIG_CAN=y

CONFIG_BT_HCIBTUSB=m
CONFIG_BT_HCIBTUSB_AUTOSUSPEND=y
# CONFIG_BT_HCIBTUSB_BCM is not set

CONFIG_DTC_SYMBOLS=y
# CONFIG_DTC_OMIT_DISABLED is not set
# CONFIG_DTC_OMIT_EMPTY is not set
CONFIG_OF_OVERLAY=y

CONFIG_CAN_ROCKCHIP=y
CONFIG_CANFD_ROCKCHIP=y
CONFIG_CANFD_RK3576=y

CONFIG_RTL8723DU=m

CONFIG_INPUT_TOUCHSCREEN=y
CONFIG_TOUCHSCREEN_GOODIX=y
CONFIG_TOUCHSCREEN_GSLX680_PAD=y
CONFIG_TOUCHSCREEN_GT1X=y

CONFIG_THERMAL_DEFAULT_GOV_USER_SPACE=y
CONFIG_THERMAL_GOV_STEP_WISE=y

CONFIG_GPIO_WATCHDOG=y
CONFIG_GPIO_WATCHDOG_ARCH_INITCALL=y

CONFIG_RTC_DRV_DS1307=y

CONFIG_EXT2_FS=y
CONFIG_EXT4_FS=y
