# CONFIG_MALI_CSF_SUPPORT is not set
CONFIG_WIFI_LOAD_DRIVER_WHEN_KERNEL_BOOTUP=y
# CONFIG_BCMDHD_PCIE is not set
CONFIG_USB_CONFIGFS_RNDIS=y
CONFIG_USB_CONFIGFS_F_UAC1=y
CONFIG_USB_CONFIGFS_F_UAC2=y
CONFIG_USB_CONFIGFS_F_HID=y
CONFIG_BCMDHD_SDIO=y
CONFIG_AP6XXX=n
CONFIG_INFINEON_DHD=y
CONFIG_SENSORS_PWM_FAN=y
CONFIG_ROCKCHIP_RAM_VENDOR_STORAGE=y
CONFIG_ROCKCHIP_MTD_VENDOR_STORAGE=y