// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 Rockchip Electronics Co., Ltd.
 *
 */

/dts-v1/;

#include "rk3576.dtsi"
#include "rk3576-my-base.dtsi"

/ {
	model = "TL3576-Based Board";
	compatible = "tronlong,tl3576-evm", "rockchip,rk3576";

	aliases {
		ethernet0 = &gmac1;
		ethernet1 = &gmac0;
	};

	wireless_bluetooth: wireless-bluetooth {
		compatible = "bluetooth-platdata";
		//BT,reset_gpio = <&xl8574t 7 GPIO_ACTIVE_HIGH>;
		status = "disabled";
	};

	wireless_wlan: wireless-wlan {
		compatible = "wlan-platdata";
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_gpios>;
		WIFI,vbat_gpio = <&gpio0 RK_PD3 GPIO_ACTIVE_HIGH>;
		WIFI,poweren_gpio = <&gpio0 RK_PD1 GPIO_ACTIVE_HIGH>;
		WIFI,host_wake_irq = <&gpio0 RK_PD0 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	fan1: pwm-fan1 {
		compatible = "pwm-fan";
		#cooling-cells = <2>;
		pwms = <&pwm0_2ch_1 0 50000 0>;
		cooling-levels = <0 50 100 150 200 255>;
		rockchip,temp-trips = <25000 5>;
	};

	fan2: pwm-fan2 {
		compatible = "pwm-fan";
		#cooling-cells = <2>;
		pwms = <&pwm2_8ch_1 0 50000 0>;
		cooling-levels = <0 50 100 150 200 255>;
		rockchip,temp-trips = <25000 5>;
	};

	fan3: pwm-fan3 {
		compatible = "pwm-fan";
		#cooling-cells = <2>;
		pwms = <&pwm1_6ch_4 0 50000 0>;
		cooling-levels = <0 50 100 150 200 255>;
		rockchip,temp-trips = <25000 5>;
	};

	leds {
		status = "okay";
		compatible = "gpio-leds";
		pinctrl-names = "default";
		pinctrl-0 = <&sys_work_led &work_led &wifi_led &geo_led &leo_led>;

		sys_work_led {
			label = "heartbeat";
			gpios = <&gpio3 RK_PB7 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
			default-state = "off";
		};

		work_led {
			label = "heartbeat";
			gpios = <&gpio3 RK_PD5 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "heartbeat";
			default-state = "off";
		};

		wifi_led {
			label = "wifi-led";
			gpios = <&gpio3 RK_PC0 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "default-on";
			default-state = "off";
		};

		geo_led {
			label = "geo_led";
			gpios = <&gpio3 RK_PB2 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "default-on";
			default-state = "off";
		};

		leo_led {
			label = "leo_led";
			gpios = <&gpio3 RK_PB1 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "default-on";
			default-state = "off";
		};
	};

	gpio-keys {
		compatible = "gpio-keys";
		autorepeat;
		pinctrl-names = "default";
		pinctrl-0 = <&switch_btn>;

		hl_way_sw {
			label = "hl_way_sw";
			linux,code = <KEY_PROG2>;
			gpios = <&gpio3 RK_PD6 GPIO_ACTIVE_LOW>;
			debounce-interval = <50>;
		};
	};

	my_gpio_init: my-gpio-init {
		compatible = "dnxt,my-gpio-init";
		status = "okay";

		init-delay-ms = <0>;

		gpios = <
			&gpio0 RK_PC7 GPIO_ACTIVE_HIGH    // 0 USB1_NRST
			&gpio4 RK_PA2 GPIO_ACTIVE_HIGH    // 1 EN_FS
			&gpio4 RK_PA5 GPIO_ACTIVE_HIGH    // 2 EN_SM
			&gpio0 RK_PC3 GPIO_ACTIVE_HIGH    // 3 EN_HBB
		>;

		gpio-names = "usb1_nrst", "fans_en", "sm_en", "hbb_en";

		//                  0 1 2 3 4 5 6 7 8 9 10
		gpio-init-states = <0 1 1 1>;

		// format: <gpio_index delay_ms>
		gpio-delays = <0 0>;

		// format: <gpio_index delay_ms target_state>
		gpio-state-delays = <0 10 1>;
	};
};

&gmac0 {
	phy-mode = "rgmii-rxid";
	clock_in_out = "output";

	snps,reset-gpio = <&gpio3 RK_PA6 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 20000 100000>;

	pinctrl-names = "default";
	pinctrl-0 = <&eth0m1_miim
				&eth0m1_tx_bus2
				&eth0m1_rx_bus2
				&eth0m1_rgmii_clk
				&eth0m1_rgmii_bus>;

	tx_delay = <0x21>;
	/* rx_delay = <0x3f>; */

	phy-handle = <&rgmii_phy0>;
	status = "okay";
};

&mdio0 {
	rgmii_phy0: phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x0>;
		clocks = <&cru REFCLKO25M_GMAC0_OUT>;
		motorcomm,keep-pll-enabled;
		motorcomm,auto-sleep-disabled;
	};
};

&gmac1 {
	/* Use rgmii-rxid mode to disable rx delay inside Soc */
	phy-mode = "rgmii-rxid";
	clock_in_out = "output";

	snps,reset-gpio = <&gpio3 RK_PA7 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 20000 100000>;

	pinctrl-names = "default";
	pinctrl-0 = <&eth1m0_miim
				&eth1m0_tx_bus2
				&eth1m0_rx_bus2
				&eth1m0_rgmii_clk
				&eth1m0_rgmii_bus>;

	tx_delay = <0x20>;
	/* rx_delay = <0x3f>; */

	phy-handle = <&rgmii_phy1>;
	status = "okay";
};

&mdio1 {
	rgmii_phy1: phy@1 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x1>;
		clocks = <&cru REFCLKO25M_GMAC1_OUT>;
		motorcomm,keep-pll-enabled;
		motorcomm,auto-sleep-disabled;
	};
};

&i2c2 {
	status = "okay";
};

&i2c3 {
	status = "okay";
};

&i2c5 {
	status = "okay";

	ds1307@68 {
		compatible = "dallas,ds1307";
		reg = <0x68>;
		status = "okay";
	};
};

&i2c6 {
	pinctrl-0 = <&i2c6m3_xfer>;
	status = "okay";
};

&i2c7 {
	pinctrl-0 = <&i2c7m3_xfer>;
	status = "okay";
};

&uart7 {
	pinctrl-0 = <&uart7m2_xfer>;
	status = "okay";
};

&uart8 {
	pinctrl-0 = <&uart8m2_xfer>;
	status = "okay";
};

/* FAN1-PWM */
&pwm0_2ch_1 {
	status = "okay";
	pinctrl-0 = <&pwm0m3_ch1>;
};

/* FAN3-PWM */
&pwm1_6ch_4 {
	status = "okay";
	pinctrl-0 = <&pwm1m3_ch4>;
};

/* FAN2-PWM */
&pwm2_8ch_1 {
	status = "okay";
	pinctrl-0 = <&pwm2m3_ch1>;
};

&pinctrl {
	leds {
		sys_work_led: sys-work-led {
			rockchip,pins = <3 RK_PB7 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		work_led: work-led {
			rockchip,pins = <3 RK_PD5 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		wifi_led: wifi-led {
			rockchip,pins = <3 RK_PC0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		geo_led: geo-led {
			rockchip,pins = <3 RK_PB2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
		leo_led: leo-led {
			rockchip,pins = <3 RK_PB1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	keys {
		switch_btn: switch-btn {
			rockchip,pins = <3 RK_PD6 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	wireless-wlan {
		wifi_gpios: wifi-gpios {
			rockchip,pins = <0 RK_PD3 RK_FUNC_GPIO &pcfg_pull_none>,
							<0 RK_PD1 RK_FUNC_GPIO &pcfg_pull_none>,
							<0 RK_PD0 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};
