// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 Rockchip Electronics Co., Ltd.
 */

/dts-v1/;

#include <dt-bindings/sensor-dev.h>

#include "rk3506-my-base-nand.dtsi"

/ {
	model = "Rockchip RK3506G(QFN128) EVB1 V10 Board";
	compatible = "rockchip,rk3506g-evb1-v10", "rockchip,rk3506";

	extcon_usb: extcon-usb {
		compatible = "linux,extcon-usb-gpio";
		vbus-gpio = <&gpio1 RK_PB1 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb_extcon_vbus>;
		status = "okay";
	};

	leds {
		compatible = "gpio-leds";
		status = "okay";
		heart_led {
			label = "run";
			gpios = <&gpio1 RK_PB7 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
			default-state = "off";
		};
	};
};

&pinctrl {
	usb {
		usb_extcon_vbus: usb-extcon-vbus {
			rockchip,pins = <1 RK_PB1 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	sensor {
		sensor_gpio: sensor-gpio {
			rockchip,pins = <1 RK_PC6 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&usb2phy {
	extcon = <&extcon_usb>;
};

&u2phy_otg0 {
	rockchip,gpio-vbus-det;
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&rm_io28_uart1_rx &rm_io27_uart1_tx>;
	dma-names = "tx", "rx";
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&rm_io2_uart2_rx &rm_io0_uart2_tx>;
	dma-names = "tx", "rx";
	status = "okay";
};

&i2c1 {
	clock-frequency = <400000>;
	i2c-scl-rising-time-ns = <144>;
	i2c-scl-falling-time-ns = <4>;
	pinctrl-names = "default";
	pinctrl-0 = <&rm_io25_i2c1_scl &rm_io26_i2c1_sda>;
	status = "okay";

	sensor@19 {
		status = "okay";
		compatible = "gs_sc7a20";
		reg = <0x19>;
		type = <SENSOR_TYPE_ACCEL>;
		irq_enable = <0>;
		pinctrl-names = "default";
		pinctrl-0 = <&sensor_gpio>;
		irq-gpio = <&gpio1 RK_PC6 IRQ_TYPE_EDGE_RISING>;
		poll_delay_ms = <10>;
		layout = <1>;
	};
};

&can0 {
	pinctrl-names = "default";
	pinctrl-0 = <&rm_io19_can0_tx &rm_io20_can0_rx>;
	rockchip,rx-max-data = <18>;
	status = "okay";
};
