// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 Rockchip Electronics Co., Ltd.
 */

/dts-v1/;

#include "rk3506-my-base-emmc.dtsi"

/ {
	model = "Rockchip RK3506J(BGA)";
	compatible = "rockchip,rk3506J", "rockchip,rk3506";

	leds {
		compatible = "gpio-leds";
		status = "okay";

		heart_led: heart_led {
			label = "run";
			gpios = <&gpio0 RK_PA5 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
			default-state = "off";
		};

		modem_led: modem-led {
			label = "modem_led";
			gpios = <&gpio4 RK_PA5 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "none";
			default-state = "off";
		};

		wifi_led: wifi-led {
			label = "wifi_led";
			gpios = <&gpio4 RK_PA4 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "none";
			default-state = "off";
		};


		radar_led: radar-led {
			label = "radar_led";
			gpios = <&gpio4 RK_PA3 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "none";
			default-state = "off";
		};

		net_led: net-led {
			label = "net-led";
			gpios = <&gpio4 RK_PA2 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "none";
			default-state = "off";
		};
	};

	wireless-wlan {
		compatible = "wlan-platdata";
		rockchip,grf = <&grf>;
		keep_wifi_power_on = <1>;
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_gpios>;
		WIFI,vbat_gpio = <&gpio1 RK_PC6 GPIO_ACTIVE_HIGH>;
		WIFI,poweren_gpio = <&gpio0 RK_PA4 GPIO_ACTIVE_HIGH>;
		WIFI,host_wake_irq = <&gpio0 RK_PA7 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};

	my_gpio_init: my-gpio-init {
		compatible = "dnxt,my-gpio-init";
		status = "okay";

		init-delay-ms = <0>;

		gpios = <&gpio1 RK_PA4 GPIO_ACTIVE_HIGH    // 0 PHYON-H
				 &gpio0 RK_PA6 GPIO_ACTIVE_HIGH    // 1 HOST-WAKE-WIFI
				 &gpio1 RK_PB5 GPIO_ACTIVE_HIGH    // 2 5GON-H
				 &gpio1 RK_PC1 GPIO_ACTIVE_HIGH    // 3 5G-PWRKEY-H
				 &gpio0 RK_PB1 GPIO_ACTIVE_HIGH    // 4 5GRST-L
				 &gpio1 RK_PC7 GPIO_ACTIVE_HIGH    // 5 GD-ON-H
				 &gpio1 RK_PC4 GPIO_ACTIVE_HIGH    // 6 GD-RST-L
				 &gpio1 RK_PB6 GPIO_ACTIVE_HIGH    // 7 BIIION-H
				 &gpio1 RK_PD0 GPIO_ACTIVE_HIGH    // 8 BIII-PWRKEY-H
				 &gpio1 RK_PD1 GPIO_ACTIVE_HIGH    // 9 BIII-RST-L
				 &gpio1 RK_PA5 GPIO_ACTIVE_HIGH>;  // 10 RADRON-H

		gpio-names = "phyon_h",
		             "host_wake_wifi",
		             "modem_on_h",
		             "modem_pwrkey_h",
		             "modem_rst_l",
		             "gd_on_h",
		             "gd_rst_l",
		             "bd3_on_h",
		             "bd3_pwrkey_h",
		             "radar_on_h";

		//                  0 1 2 3 4 5 6 7 8 9 10 11 12 13
		gpio-init-states = <1 1 1 1 1 0 1 0 1 1 0>;

		// format: <gpio_index delay_ms>
		gpio-delays = <5 10 7 10>;

		// format: <gpio_index delay_ms target_state>
		gpio-state-delays = <5 10 1 7 10 1 10 10 1>;
	};

	vccio4: mmcio-gpio-regulator {
		compatible = "regulator-gpio";

		regulator-name = "mmcio-gpio-supply";
		regulator-min-microvolt = <1800000>;
		regulator-max-microvolt = <3300000>;

		pinctrl-names = "default";
		pinctrl-0 = <&vccio4_gpio>;

		gpios = <&gpio0 RK_PD0 GPIO_ACTIVE_HIGH>;
		gpios-states = <0>;
		states = <3300000 0x1>,
				 <1800000 0x0>;

		startup-delay-us = <100000>;
	};

	vcc_3v3: vcc-3v3 {
		compatible = "regulator-fixed";
		regulator-name = "vcc_3v3";
		regulator-always-on;
		regulator-boot-on;
		regulator-min-microvolt = <3300000>;
		regulator-max-microvolt = <3300000>;
		vin-supply = <&vcc_sys>;
	};

	hw_detector: hw-detector {
		compatible = "rockchip,hw-detector";
		status = "okay";

		io-channels = <&saradc 3>;
		io-channel-names = "hw_version";

		// 硬件版本检测参数
		hw-version-adc-channel = <0>; // 对应io-channels中的第一个(通道3)
		hw-version-thresholds = <
								/* min(mV) max(mV) version */
								0       200     0       // 版本1: 0-200mV (0.0V)
								1600    2000    1       // 版本2: 1.6-2.0V (1.8V)
								800     1000    2       // 版本3: 800-1000mV (0.9V)
								250     350     3       // 版本4: 250-350mV (0.3V)
								>;

		sample-count = <5>;        // 每次采样次数
		sample-interval-ms = <10>; // 采样间隔
		debounce-count = <3>;      // 去抖动次数

        vref-supply = <&vcc_1v8>;
	};
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&rm_io13_i2c1_scl &rm_io8_i2c1_sda>;
	status = "okay";
};

&gmac0 {
	clock_in_out = "input";

	snps,reset-gpio = <&gpio1 RK_PB7 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 20000 100000>;

	pinctrl-names = "default";
	pinctrl-0 = <&eth_rmii0_miim_pins
				 &eth_rmii0_tx_bus2_pins
				 &eth_rmii0_rx_bus2_pins
				 &eth_rmii0_clk_pins>;

	phy-handle = <&rmii_phy0>;
	status = "okay";
};

&gmac1 {
	clock_in_out = "input";

	snps,reset-gpio = <&gpio1 RK_PC0 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 20000 100000>;

	pinctrl-names = "default";
	pinctrl-0 = <&eth_rmii1_miim_pins
				 &eth_rmii1_tx_bus2_pins
				 &eth_rmii1_rx_bus2_pins
				 &eth_rmii1_clk_pins>;

	phy-handle = <&rmii_phy1>;
	status = "okay";
};

&mdio0 {
	rmii_phy0: phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x0>;
		clocks = <&cru CLK_MAC_OUT>;
		assigned-clocks = <&cru CLK_MAC_OUT>;
		assigned-clock-rates = <25000000>;
	};
};

&mdio1 {
	rmii_phy1: phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x0>;
		clocks = <&cru CLK_MAC_OUT>;
		assigned-clocks = <&cru CLK_MAC_OUT>;
		assigned-clock-rates = <25000000>;
	};
};

&mmc {
	vqmmc-supply = <&vccio4>;
	vmmc-supply = <&vcc_3v3>;
};

&pinctrl {
	wireless-wlan {
		wifi_gpios: wifi-gpios {
			rockchip,pins = <1 RK_PC6 RK_FUNC_GPIO &pcfg_pull_none>,
							<0 RK_PA4 RK_FUNC_GPIO &pcfg_pull_none>,
							<0 RK_PA7 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	sdmmc {
		vccio4_gpio: vccio4_gpio {
			rockchip,pins = <0 RK_PD0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&ramoops {
	reg = <0x1d3000 0x2d000>;
	status = "okay";
};

&uart2 {// gd rs422
	pinctrl-names = "default";
	pinctrl-0 = <&rm_io27_uart2_rx &rm_io28_uart2_tx>;
	dma-names = "tx", "rx";
	status = "okay";
};

&uart3 {// 5G modem
	pinctrl-names = "default";
	pinctrl-0 = <&rm_io19_uart3_rx &rm_io18_uart3_tx &rm_io17_uart3_ctsn &rm_io16_uart3_rtsn>;
	dma-names = "tx", "rx";
	status = "okay";
};

&uart4 {// beidou3 uart0
	pinctrl-names = "default";
	pinctrl-0 = <&rm_io30_uart4_rx &rm_io31_uart4_tx>;
	dma-names = "tx", "rx";
	status = "okay";
};

&u2phy_otg1 {
	status = "okay";
};

&usb20_otg1 {
	dr_mode = "host";
	status = "okay";
};
