// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 Rockchip Electronics Co., Ltd.
 */

/dts-v1/;

#include "rk3506-my-base-nand.dtsi"

/ {
	model = "Rockchip RK3506G(QFN128) EVB1 V10 Board";
	compatible = "rockchip,rk3506g-evb1-v10", "rockchip,rk3506";

	chosen {
		bootargs = "earlycon=uart8250,mmio32,0xff0a0000 console=ttyFIQ0 ubi.mtd=2 root=ubi0:rootfs rw rootfstype=ubifs rootwait snd_aloop.index=7 snd_aloop.use_raw_jiffies=1";
	};

	extcon_usb: extcon-usb {
		compatible = "linux,extcon-usb-gpio";
		vbus-gpio = <&gpio3 RK_PB0 GPIO_ACTIVE_LOW>;
		pinctrl-names = "default";
		pinctrl-0 = <&usb_extcon_vbus>;
		status = "okay";
	};

	leds {
		compatible = "gpio-leds";
		status = "okay";
		heart_led: work_led1 {
			label = "run";
			gpios = <&gpio1 RK_PB7 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
			default-state = "off";
		};
		bd_led: work_led2 {
			label = "bd_led";
			linux,default-trigger = "none";
			default-state = "off";
			gpios = <&gpio1 RK_PB6 GPIO_ACTIVE_LOW>;
		};

		rtk_led: work_led3 {
			label = "rtk_led";
			linux,default-trigger = "none";
			default-state = "off";
			gpios = <&gpio1 RK_PB5 GPIO_ACTIVE_HIGH>;
		};
		wifi_led: work_led4 {
			label = "wifi_led";
			linux,default-trigger = "none";
			default-state = "on";
			gpios = <&gpio1 RK_PB4 GPIO_ACTIVE_HIGH>;
		};

		bat1_led: work_led5 {
			label = "bat1_led";
			linux,default-trigger = "none";
			default-state = "off";
			gpios = <&gpio1 RK_PB1 GPIO_ACTIVE_HIGH>;
		};

		bat2_led: work_led6 {
			label = "bat2_led";
			linux,default-trigger = "none";
			default-state = "off";
			gpios = <&gpio1 RK_PB0 GPIO_ACTIVE_HIGH>;
		};
	};

	bat: battery {
		compatible = "simple-battery";
		constant-charge-current-max-microamp = <2040000>;
		constant-charge-voltage-max-microvolt = <4352000>;
		precharge-current-microamp = <180000>;
		charge-term-current-microamp = <180000>;
	};
};

&pinctrl {
	usb {
		usb_extcon_vbus: usb-extcon-vbus {
			rockchip,pins = <3 RK_PB0 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	bq25601 {
		bq25601_int: bq25601-int {
			rockchip,pins = <0 RK_PA7 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};

	lis3dh {
		lis3dh_int1: lis3dh-int1 {
			rockchip,pins = <0 RK_PB2 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};
};

&usb2phy {
	extcon = <&extcon_usb>;
};

&u2phy_otg0 {
	rockchip,gpio-vbus-det;
};

&u2phy_otg1 {
	status = "okay";
};

&usb20_otg1 {
	dr_mode = "host";
	status = "okay";
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&rm_io16_uart1_rx &rm_io17_uart1_tx>;
	dma-names = "tx", "rx";
	status = "okay";
};

&i2c0 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&rm_io4_i2c0_scl &rm_io5_i2c0_sda>;

	bq25601: charger@6b {
		compatible = "ti,bq25601d";
		reg = <0x6b>;

		interrupt-parent = <&gpio0>;
		interrupts = <RK_PA7 IRQ_TYPE_EDGE_FALLING>;
		pinctrl-names = "default";
		pinctrl-0 = <&bq25601_int>;

		monitored-battery = <&bat>;

		ti,watchdog-timeout-ms = <0>;
		input-voltage-limit-microvolt = <4500000>;
		input-current-limit-microamp = <2400000>;
	};

	/* CellWise CW2015 Battery Fuel Gauge */
	cw2015: cw2015@62 {
		compatible = "cellwise,cw2015";
		reg = <0x62>;
		cellwise,battery-profile = /bits/ 8 <
				0x17 0x67 0x80 0x73 0x6E 0x6C 0x6B 0x63
				0x77 0x51 0x5C 0x58 0x50 0x4C 0x48 0x36
				0x15 0x0C 0x0C 0x19 0x5B 0x7D 0x6F 0x69
				0x69 0x5B 0x0C 0x29 0x20 0x40 0x52 0x59
				0x57 0x56 0x54 0x4F 0x3B 0x1F 0x7F 0x17
				0x06 0x1A 0x30 0x5A 0x85 0x93 0x96 0x2D
				0x48 0x77 0x9C 0xB3 0x80 0x52 0x94 0xCB
				0x2F 0x00 0x64 0xA5 0xB5 0x11 0xF0 0x11
		>;
		cellwise,monitor-interval-ms = <5000>; /* 监控间隔 */
	};
};

&i2c1 {
	pinctrl-names = "default";
	pinctrl-0 = <&rm_io25_i2c1_scl &rm_io26_i2c1_sda>;
	status = "okay";

	lisd3dh@18 {
		status = "okay";
		compatible = "st,lis3dh-accel";
		st,drdy-int-pin = <1>;
		reg = <0x18>;
		interrupt-parent = <&gpio0>;
		interrupts = <RK_PB2 IRQ_TYPE_EDGE_RISING>;
		pinctrl-names = "default";
		pinctrl-0 = <&lis3dh_int1>;
		irq-gpio = <&gpio0 RK_PB2 IRQ_TYPE_EDGE_RISING>;

		mount-matrix = "0", "1", "0",
						"-1", "0", "0",
						"0", "0", "1";
	};
};

&pwm0_4ch_0 {
	status = "okay";
};