// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 Rockchip Electronics Co., Ltd.
 */

/dts-v1/;

#include "rk3506-my-base-emmc.dtsi"

/ {
	model = "Rockchip RK3506B(BGA) EVB1 V10 Board";
	compatible = "rockchip,rk3506b-evb1-v10", "rockchip,rk3506";

	leds {
		compatible = "gpio-leds";
		status = "okay";

		heart_led: heart_led {
			label = "run";
			gpios = <&gpio1 RK_PB3 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
			default-state = "off";
		};

		star_led: star_led {
			label = "star_led";
			gpios = <&gpio1 RK_PA1 GPIO_ACTIVE_HIGH>;
			linux,default-trigger = "none";
			default-state = "off";
		};

		net_led: net_led {
			label = "net_led";
			gpios = <&gpio1 RK_PA2 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "none";
			default-state = "off";
		};

		wifi_led: wifi_led {
			label = "wifi_led";
			gpios = <&gpio1 RK_PA3 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "none";
			default-state = "off";
		};
	};

	gpio_keys: gpio-keys {
		compatible = "gpio-keys";
		pinctrl-names = "default";
		pinctrl-0 = <&btn_keys>;
		status = "okay";

		star_key: star-key {
			label = "star";
			gpios = <&gpio1 RK_PA0 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_1>;
			debounce-interval = <20>;
			wakeup-source;
		};

		buc_key: buc-key {
			label = "buc";
			gpios = <&gpio1 RK_PA4 GPIO_ACTIVE_LOW>;
			linux,code = <KEY_2>;
			debounce-interval = <20>;
			wakeup-source;
		};
	};

	wireless-wlan {
		compatible = "wlan-platdata";
		rockchip,grf = <&grf>;
		pinctrl-names = "default";
		pinctrl-0 = <&wifi_wake_host>;
		WIFI,vbat_gpio = <&gpio1 RK_PA7 GPIO_ACTIVE_HIGH>;
		WIFI,poweren_gpio = <&gpio2 RK_PA4 GPIO_ACTIVE_HIGH>;
		WIFI,host_wake_irq = <&gpio2 RK_PA2 GPIO_ACTIVE_HIGH>;
		status = "okay";
	};
};

&pinctrl {
	gpio-btns {
		btn_keys: btn-keys {
			rockchip,pins = <1 RK_PA0 RK_FUNC_GPIO &pcfg_pull_none>,
							<1 RK_PA4 RK_FUNC_GPIO &pcfg_pull_none>;
		};
	};

	wireless-wlan {
		wifi_wake_host: wifi-wake-host {
			rockchip,pins = <1 RK_PA7 RK_FUNC_GPIO &pcfg_pull_none>,
							<2 RK_PA4 RK_FUNC_GPIO &pcfg_pull_none>,
							<2 RK_PA2 RK_FUNC_GPIO &pcfg_pull_up>;
		};
	};
};

&u2phy_otg1 {
	status = "okay";
};

&usb20_otg1 {
	dr_mode = "host";
	status = "okay";
};

&gmac0 {
	clock_in_out = "input";

	snps,reset-gpio = <&gpio0 RK_PC2 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 20000 100000>;

	pinctrl-names = "default";
	pinctrl-0 = <&eth_rmii0_miim_pins
				&eth_rmii0_tx_bus2_pins
				&eth_rmii0_rx_bus2_pins
				&eth_rmii0_clk_pins>;

	phy-handle = <&rmii_phy0>;
	status = "okay";
};

&gmac1 {
	clock_in_out = "input";

	snps,reset-gpio = <&gpio0 RK_PB5 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 20000 100000>;

	pinctrl-names = "default";
	pinctrl-0 = <&eth_rmii1_miim_pins
				&eth_rmii1_tx_bus2_pins
				&eth_rmii1_rx_bus2_pins
				&eth_rmii1_clk_pins>;

	phy-handle = <&rmii_phy1>;
	status = "okay";
};

&mdio0 {
	rmii_phy0: phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x0>;
		clocks = <&cru CLK_MAC_OUT>;
		assigned-clocks = <&cru CLK_MAC_OUT>;
		assigned-clock-rates = <25000000>;
	};
};

&mdio1 {
	rmii_phy1: phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x0>;
		clocks = <&cru CLK_MAC_OUT>;
		assigned-clocks = <&cru CLK_MAC_OUT>;
		assigned-clock-rates = <25000000>;
	};
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&rm_io16_uart1_rx &rm_io17_uart1_tx>;
	dma-names = "tx", "rx";
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&rm_io0_uart2_rx &rm_io2_uart2_tx>;
	dma-names = "tx", "rx";
	status = "okay";
};

&uart4 {
	pinctrl-names = "default";
	pinctrl-0 = <&rm_io30_uart4_rx &rm_io31_uart4_tx>;
	dma-names = "tx", "rx";
	status = "okay";
};

&i2c0 {
	clock-frequency = <400000>;
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&rm_io25_i2c0_scl &rm_io24_i2c0_sda>;

	hym8563: hym8563@51 {
			compatible = "haoyu,hym8563";
			reg = <0x51>;
			// #clock-cells = <0>;
			// clock-frequency = <32768>;
			// clock-output-names = "hym8563";
			// pinctrl-names = "default";
			// pinctrl-0 = <&hym8563_int>;
			// interrupt-parent = <&gpio0>;
			// interrupts = <RK_PC0 IRQ_TYPE_LEVEL_LOW>;

			wakeup-source;
	};
};

&i2c2 {
	pinctrl-names = "default";
	pinctrl-0 = <&rm_io4_i2c2_scl &rm_io5_i2c2_sda>;
	status = "okay";
};

&ramoops {
	reg = <0x1d3000 0x2d000>;
	status = "okay";
};
