// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2024 Rockchip Electronics Co., Ltd.
 */

/dts-v1/;

#include "rk3506-my-base-nand.dtsi"

/ {
	model = "Rockchip RK3506B(BGA) EVB1 V10 Board";
	compatible = "rockchip,rk3506b-evb1-v10", "rockchip,rk3506";

	leds {
		compatible = "gpio-leds";
		status = "okay";

		heart_led {
			label = "run";
			gpios = <&gpio1 RK_PB3 GPIO_ACTIVE_LOW>;
			linux,default-trigger = "heartbeat";
			default-state = "off";
		};
	};
};

&gmac0 {
	clock_in_out = "input";

	snps,reset-gpio = <&gpio0 RK_PB3 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 20000 100000>;

	pinctrl-names = "default";
	pinctrl-0 = <&eth_rmii0_miim_pins
				&eth_rmii0_tx_bus2_pins
				&eth_rmii0_rx_bus2_pins
				&eth_rmii0_clk_pins>;

	phy-handle = <&rmii_phy0>;
	status = "okay";
};

&gmac1 {
	clock_in_out = "input";

	snps,reset-gpio = <&gpio0 RK_PB4 GPIO_ACTIVE_LOW>;
	snps,reset-active-low;
	snps,reset-delays-us = <0 20000 100000>;

	pinctrl-names = "default";
	pinctrl-0 = <&eth_rmii1_miim_pins
				&eth_rmii1_tx_bus2_pins
				&eth_rmii1_rx_bus2_pins
				&eth_rmii1_clk_pins>;

	phy-handle = <&rmii_phy1>;
	status = "okay";
};

&mdio0 {
	rmii_phy0: phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x0>;
		clocks = <&cru CLK_MAC_OUT>;
		assigned-clocks = <&cru CLK_MAC_OUT>;
		assigned-clock-rates = <25000000>;
	};
};

&mdio1 {
	rmii_phy1: phy@0 {
		compatible = "ethernet-phy-ieee802.3-c22";
		reg = <0x0>;
		clocks = <&cru CLK_MAC_OUT>;
		assigned-clocks = <&cru CLK_MAC_OUT>;
		assigned-clock-rates = <25000000>;
	};
};

&uart1 {
	pinctrl-names = "default";
	pinctrl-0 = <&rm_io16_uart1_rx &rm_io17_uart1_tx>;
	dma-names = "tx", "rx";
	status = "okay";
};

&uart2 {
	pinctrl-names = "default";
	pinctrl-0 = <&rm_io0_uart2_rx &rm_io2_uart2_tx>;
	dma-names = "tx", "rx";
	status = "okay";
};

&uart3 {
	pinctrl-names = "default";
	pinctrl-0 = <&rm_io15_uart3_rx &rm_io14_uart3_tx>;
	dma-names = "tx", "rx";
	status = "okay";
};
