// SPDX-License-Identifier: (GPL-2.0+ OR MIT)
/*
 * Copyright (c) 2022 Rockchip Electronics Co., Ltd.
 */

/dts-v1/;
#include "rv1106.dtsi"
#include "rv1106-luckfox-pico-ultra-ipc.dtsi"
#include "rv1106-thunder-boot-emmc.dtsi"
#include <dt-bindings/input/input.h>
#include <dt-bindings/display/media-bus-format.h>

/ {
	model = "Luckfox Pico Ultra";
	compatible = "rockchip,rv1103g-38x38-ipc-v10", "rockchip,rv1106";

	restart-poweroff {
		compatible = "restart-poweroff";
	};

	sdio_pwrseq: sdio-pwrseq {
		compatible = "mmc-pwrseq-simple";
		pinctrl-names = "default";
		reset-gpios = <&gpio1 RK_PA2 GPIO_ACTIVE_LOW>;
	};

	spi3: spi@gpiol {
		compatible = "spi-gpio";
		#address-cells = <1>;
		gpio-sck = <&gpio1 RK_PD3 GPIO_ACTIVE_HIGH>;
		gpio-miso = <&gpio1 RK_PC6 GPIO_ACTIVE_HIGH>;
		gpio-mosi = <&gpio1 RK_PD2 GPIO_ACTIVE_HIGH>;
		cs-gpios = <&gpio1 RK_PD1 GPIO_ACTIVE_HIGH>;
		num-chipselects = <1>;
		pinctrl-names = "default";
		pinctrl-0 = <&spi3gpio_pins>;
		status = "disabled";
	};
};

/**********EMMC**********/
&emmc {
	bus-width = <8>;
	cap-mmc-highspeed;
	non-removable;
	// mmc-hs200-1_8v;
	rockchip,default-sample-phase = <90>;
	no-sdio;
	no-sd;
	memory-region-ecsd = <&mmc_ecsd>;
	post-power-on-delay-ms = <0>;
	status = "okay";
};

&fiq_debugger {
	rockchip,irq-mode-enable = <1>;
	status = "okay";
};

/**********ETH**********/
&gmac {
	status = "okay";
};

/**********USB**********/
&usbdrd_dwc3 {
	status = "okay";
	dr_mode = "peripheral";
};

/**********RTC**********/
&rtc {
	status = "disabled";
};

/**********SPI**********/
&spi0 {
	status = "disabled";
	spidev@0 {
		spi-max-frequency = <50000000>;
	};
};

&uart3 {
	status = "okay";
	pinctrl-names = "default";
	pinctrl-0 = <&uart3m0_xfer>;
};

&rgb {
	status = "disabled";
};

&rgb_in_vop {
	status = "disabled";
};

&vop {
	status = "disabled";
};

&spi0 {
	status = "okay";
	spi-slave;
	slave {
		compatible ="rockchip,spidev";
		reg = <0>;
		id = <0>;
	};
};

&pinctrl {
	spi3 {
		spi3gpio_pins: spi3gpio_pins {
			rockchip,pins =
				<1 RK_PD3 0 &pcfg_pull_none>,
				<1 RK_PC6 0 &pcfg_pull_none>,
				<1 RK_PD2 0 &pcfg_pull_none>,
				<1 RK_PD1 0 &pcfg_pull_none>;
		};
	};
};

&spi3 {
	status = "okay";
	spidev@0 {
		compatible = "rockchip,spidev";
		spi-max-frequency = <50000000>;
		reg = <0>;
		status = "okay";
	};
};
